
<footer>
    <div class="footer_container">
        <div class="footer_top_container">
            <div class="footer_informations">
                <h3 class="footer_top_list_title">SAGC Rink Hockey</h3>
                <ul class="footer_top_list">
                    <li>
                        <a href="#" class="footer_top_list_item">Chemin de Canéjan, 33610 Cestas</a>
                    </li>
                    <li>
                        <a href="#" class="footer_top_list_item">contact@sagcrinkhockey.fr</a>
                    </li>
                    <li>
                        <a href="#" class="footer_top_list_item">05 55 69 47 87</a>
                    </li>
                </ul>
            </div>

            <div class="footer_navigations">
                <h3 class="footer_top_list_title">Navigation</h3>
                <ul class="footer_top_list">
                    <li><a href="{{ path('app_main') }}" class="footer_top_list_item">Accueil</a></li>
                    <li><a href="{{ path('app_contact') }}" class="footer_top_list_item">Contact</a></li>
                    <li><a href="{{ path('app_inscription') }}" class="footer_top_list_item">Inscription</a></li>
                </ul>
            </div>

            <div class="footer_our_teams">
                <h3 class="footer_top_list_title">Nos équipes</h3>
                <ul class="footer_top_list">
                    <li><a href="#" class="footer_top_list_item">Nationale 2</a></li>
                    <li><a href="#" class="footer_top_list_item">Nationale 3</a></li>
                    <li><a href="#" class="footer_top_list_item">Jeunes</a></li>
                    <li><a href="#" class="footer_top_list_item">Adultes</a></li>
                </ul>
            </div>

            <div class="footer_club">
                <h3 class="footer_top_list_title">Le club</h3>
                <ul class="footer_top_list">
                    <li>
                        <a href="{{ path('app_club') }}" class="footer_top_list_item">Présentation du club</a>
                    </li>
                    <li><a href="{{ path('app_inscription') }}" class="footer_top_list_item">Inscription</a></li>
                </ul>
            </div>
        </div>

        <div class="footer_bottom_container">
            <div class="footer_conditions">
                <ul class="footer_bottom_list">
                    <li>
                        <a href="#" class="footer_bottom_list_item">Mentions légales</a>
                    </li>
                    <li><a href="#" class="footer_bottom_list_item">CGV</a></li>
                </ul>
                <span class="footer_bottom_website_creators">Crée par l'Agence Backstages</span>
            </div>

            <div class="footer_inscription">
                <input type="mail" class="footer_inscription_input" placeholder="Ecrivez votre adresse mail" />
                <button type="submit" class="footer_button">S'inscrire</button>
            </div>
            <div class="footer_social_media">
                <a href="https://www.facebook.com/sagcestasrinkhockey/" target="_blank"><img src="{{ asset('Front/IMG/Media/facebook.svg') }}" alt="Icone Facebook" class="footer_social_media_img" /></a>
                <a href="#"><img src="{{ asset('Front/IMG/Media/instagram.svg') }}" alt="Icone Instagrame=" class="footer_social_media_img" /></a>
                <a href="https://mobile.twitter.com/sagcrink" target="_blank"><img src="{{ asset('Front/IMG/Media/twitter.svg') }}" alt="Icone Twitter" class="footer_social_media_img" /></a>
            </div>
        </div>
    </div>
</footer>