
<nav>
    <ul class="left_side_list">
        <li class="left_side_list_item"><a href="#">Accueil</a></li>
        <li class="left_side_list_item">
            <a href="#" class="our_teams">Nos équipes<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                                          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 185.343 185.343"
                                                          style="enable-background:new 0 0 185.343 185.343;" xml:space="preserve">
            <path style="fill:#010002;" d="M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175
             l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934
             c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z" />
          </svg></a>
        </li>
        <li class="left_side_list_item">
            <a href="#" class="the_club">Le club<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 185.343 185.343"
                                                     style="enable-background:new 0 0 185.343 185.343;" xml:space="preserve">
            <path style="fill:#010002;" d="M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175
           l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934
           c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z" />
          </svg></a>
        </li>
        <li class="left_side_list_item"><a href="#">Les actualités</a></li>
    </ul>

    <div class="logo_container">
        <img src="{{ asset('Front/IMG/Logo/logo.png') }}" alt="" class="logo" />
    </div>

    <ul class="right_side_list">
        <li class="right_side_list_item"><a href="#">La boutique</a></li>
        <li class="right_side_list_item"><a href="#">Contact</a></li>
    </ul>

    <a href="#" class="button">S'inscrire au club</a>

    <div class="responsive_navbar">
        <img src="{{ asset('Front/IMG/Logo/logo.png') }}" alt="" class="responsive_nav_logo" />
        <div class="burger_menu">
            <span class="burger_bar" id="bar-1"></span>
            <span class="burger_bar" id="bar-2"></span>
            <span class="burger_bar" id="bar-3"></span>
        </div>

        <div id="menu">
            <ul class="toggle_menu_list">
                <div class="toggle_menu_list_container">
                    <li class="toggle_menu_list_item" id="item-1"><a href="#">Accueil</a></li>
                    <li class="toggle_menu_list_item" id="item-2"><a href="#" class="our_teams">Nos équipes<svg version="1.1"
                                                                                                                id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                                                                                                y="0px" viewBox="0 0 185.343 185.343" style="enable-background:new 0 0 185.343 185.343;"
                                                                                                                xml:space="preserve">
                  <path style="fill:#010002;" d="M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175
               l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934
               c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z" />
                </svg></a></li>
                    <li class="toggle_menu_list_item" id="item-3"><a href="#" class="the_club">Le club<svg version="1.1"
                                                                                                           id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                                                                                           y="0px" viewBox="0 0 185.343 185.343" style="enable-background:new 0 0 185.343 185.343;"
                                                                                                           xml:space="preserve">
                  <path style="fill:#010002;" d="M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175
               l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934
               c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z" />
                </svg></a></li>
                    <li class="toggle_menu_list_item" id="item-4"><a href="#">Les actualités</a></li>
                    <li class="toggle_menu_list_item" id="item-5"><a href="#">La boutique</a></li>
                    <li class="toggle_menu_list_item" id="item-6"><a href="#">Contact</a></li>
                </div>

                <div class="toggle_menu_social_media">
                    <img src="{{ asset('Front/IMG/Media/facebook.svg') }}" alt="" class="toggle_menu_social_media_icon">
                    <img src="{{ asset('Front/IMG/Media/instagram.svg') }}" alt="" class="toggle_menu_social_media_icon">
                    <img src="{{ asset('Front/IMG/Media/twitter.svg') }}" alt="" class="toggle_menu_social_media_icon">
                </div>

                <a href="#" class="button" id="toggle-menu-btn">S'inscrire au club</a>
            </ul>
        </div>
    </div>
</nav>