{% extends 'base.html.twig' %}

{% block title %}EquipesCategories{% endblock %}

{% block body %}
    <h1>EquipesCategories</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipes_category.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ equipes_category.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_equipes_categories_index') }}">back to list</a>

    <a href="{{ path('app_equipes_categories_edit', {'id': equipes_category.id}) }}">edit</a>

    {{ include('equipes_categories/_delete_form.html.twig') }}
{% endblock %}
